<strong>Olá, {{ helper }}</strong>
<p>Houve um cancelamento de ajuda, confira os detalhes abaixo:</p>
<p>
  <strong>Usuário: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    O horário está novamente disponível para novos pedidos de ajuda.
  </small>
</p>
